absl-py 
astor
certifi==2020.6.20
click==7.1.2
Flask==1.1.2
gast 
google-pasta==0.2.0
grpcio 
h5py
importlib-metadata
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.1
Keras==2.2.5
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Markdown
MarkupSafe==1.1.1
numpy 
scikit-learn==0.24.2
termcolor==1.1.0
threadpoolctl==2.1.0
Werkzeug==1.0.1
wincertstore==0.2
wrapt==1.12.1
zipp==3.1.0
gunicorn==20.1.0