<!DOCTYPE html>
<html>
<body >
  
        
<h2>Fill the form</h2>

<form action="/result" method="POST">

<label >Gender :</label>
    <select  name="Gender">
      <option value="1">Female</option>
      <option value="0">Male</option>
      
    </select>
    <br><br>

  <label >Glucose:</label><br>
  <input type="text" name="Glucose" ><br><br>

  <label>BP:</label><br>
  <input type="text" name="BP" ><br><br>

  <label>SkinThickness :</label><br>
  <input type="text"  name="SkinThickness"><br><br>


  <label>Insulin:</label><br>
  <input type="text"  name="Insulin" ><br><br>


  <label >BMI</label><br>
  <input type="text"  name="BMI"><br><br>
  
  
  <label >PedigreeFunction:</label><br>
  <input type="text"  name="PedigreeFunction" ><br><br>
  <label >Age:</label><br>
  <input type="text"  name="Age" ><br><br>
  

  <input type="submit" value="Predict">

</body>
</html>